[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configargparse = "*"
apscheduler = "*"
pysmbc = {file = "https://github.com/hensur/pysmbc/archive/master.zip"}
python-magic = "*"
webdavclient3 = "*"
"backports.zoneinfo" = "*"

[dev-packages]

[requires]
python_version = "3.7"

